<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-accountkit"
    version="1.4.0">
    <name>Cordova AccountKit</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/gurisko/cordova-plugin-accountkit.git</repo>
    <issue>https://github.com/gurisko/cordova-plugin-accountkit/issues</issue>

    <preference name="APP_ID" />
    <preference name="APP_NAME" />
    <preference name="CLIENT_TOKEN" />
    <preference name="API_VERSION" />

    <engines>
        <engine name="cordova-android" version=">=3.5.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
          <feature name="AccountKitPlugin">
              <param name="browser-package" value="AccountKitPlugin" />
          </feature>
        </config-file>

        <js-module src="src/browser/AccountKitPluginProxy.js" name="AccountKitPluginProxy">
          <runs/>
          <clobbers target="AccountKitPlugin" />
        </js-module>

        <js-module src="src/browser/AccountKitOnInteractive.js" name="AccountKit_OnInteractive">
          <runs/>
          <clobbers target="AccountKit_OnInteractive" />
        </js-module>

        <js-module src="src/browser/AccountKitSDK.js" name="AccountKitSDK">
          <runs/>
        </js-module>

        <hook type="after_plugin_add" src="src/browser/afterInstall.js"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="AccountKitPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AccountKitPlugin">
                <param name="android-package" value="org.apache.cordova.facebook.AccountKitPlugin" />
                <param name="onload" value="true" />
            </feature>
            <access origin="https://m.facebook.com" />
            <access origin="https://graph.facebook.com" />
            <access origin="https://api.facebook.com" />
            <access origin="https://*.fbcdn.net" />
            <access origin="https://*.akamaihd.net" />
            <preference name="android-minSdkVersion" value="15" />
        </config-file>

        <source-file src="src/android/accountkit.xml" target-dir="res/values" />
        <config-file target="*/res/values/accountkit.xml" parent="/*">
            <string name="fb_app_name">$APP_NAME</string>
            <string name="fb_app_id">$APP_ID</string>
            <string name="accountkit_token">$CLIENT_TOKEN</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />
            <meta-data android:name="com.facebook.accountkit.ApplicationName" android:value="@string/fb_app_name" />
            <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/accountkit_token" />
            <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled" android:value="false"/>

            <activity android:name="com.facebook.accountkit.ui.AccountKitActivity">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="ak$APP_ID" />
                </intent-filter>
            </activity>
        </config-file>

        <framework src="com.facebook.android:account-kit-sdk:4.+"/>

        <source-file src="src/android/AccountKitPlugin.java" target-dir="src/org/apache/cordova/facebook" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="AccountKitPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AccountKitPlugin">
                <param name="ios-package" value="AKPlugin" onload="true" />
            </feature>
            <access origin="https://m.facebook.com" />
            <access origin="https://graph.facebook.com" />
            <access origin="https://api.facebook.com" />
            <access origin="https://*.fbcdn.net" />
            <access origin="https://*.akamaihd.net" />
        </config-file>

        <header-file src="src/ios/AKPlugin.h" />
        <source-file src="src/ios/AKPlugin.m" />
        <header-file src="src/ios/AKPluginViewController.h" />
        <source-file src="src/ios/AKPluginViewController.m" />

        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$APP_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="AccountKitClientToken">
            <string>$CLIENT_TOKEN</string>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>ak$APP_ID</string>
              </array>
            </dict>
          </array>
        </config-file>

        <config-file target="*-Info.plist" parent="AccountKitFacebookAppEventsEnabled">
            <string>0</string>
        </config-file>

        <!-- AccountKit framework -->
        <framework src="AccountKit" type="podspec" spec="~> 4" />


    </platform>
</plugin>
